<%-include('../includes/navigation.ejs')%>

<div class="flex justify-center items-center h-screen">
    <div class="bg-white shadow-md rounded px-8 py-6">
        <h2 class="text-2xl font-bold mb-6">New Password</h2>
        <form action="/new-password" method="post">
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="password"
                    type="password"
                    placeholder="Enter your password"
                    name="password"
                />
            </div>
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="userId" value="<%= userId %>">
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit"
                >
                    Confirm
                </button>
            </div>
        </form>
    </div>
</div>


